body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 500px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

input {
  width: 99%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

pre {
  margin-top: 20px;
  white-space: pre-wrap;
}
